.vscode
.idea
.venv
*.egg-info
__pycache__
bin
scratch/
dist/
.cache
.pytest_cache
.coverage*
coverage.xml
coverage/
report.html
report.json
.DS_Store
~*.xlsx
.ipynb_checkpoints
.data
*.csv#
*.xlsx#
**/scratch.py
.release_version
notebooks/*
*.ipynb
!notebooks/on_call_validation.ipynb
!notebooks/datahub_validation.ipynb
!**/notebooks/data_validation.ipynb
!**/notebooks/utils.py
!**/notebooks/data_validation_old.ipynb
!**/notebooks/utils_old.py


# Pants workspace files
/.pants.d
/.pids
constraints.txt

# Pyright
pyrightconfig.json

.env
env